body {
	padding-top: 50px;
	background-image: url("images/concrete_wall.png");
}

* {
	font-family: 'Signika', sans-serif;
	color: white;
}

#errorTag {
	font-size: 48px;
}

.homeButton {
	font-size: 96px;
}