<div class="container">
	<h1>URL Shortener</h1>
	<form action="/showLink" method="POST" role="form">
		<legend></legend>
	
		<div class="form-group">
			<input type="text" class="form-control" id="" placeholder="Place URL Here" name="q">
		</div>
	
		
	
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>